<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014492714836-el50toegmgg1jijon66o2m6rcadbn7ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014492714836-el50toegmgg1jijon66o2m6rcadbn7ib</string>
	<key>API_KEY</key>
	<string>AIzaSyBMK6R_2HsCTsDsJRKsenT-Mii18YFCZEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1014492714836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viczhong.BulletJournal</string>
	<key>PROJECT_ID</key>
	<string>bullet-journal-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>bullet-journal-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014492714836:ios:922a6112eedca98e</string>
	<key>DATABASE_URL</key>
	<string>https://bullet-journal-lite.firebaseio.com</string>
</dict>
</plist>